.pop{
   
    background-color: blue;
}

.designation{
    font-size: 1rem;

}
.em_id{
    font-size: 0.9rem;
}
.copy_text{
    cursor:copy;
}

.myac{
    font-weight: bold;
    margin-top: 20px;
    color: rgb(245, 237, 237);
    cursor: pointer;
}

.boro div {
    font-weight: bold;
}

.add_sub div{
    font-size: 20px;
}
.upper{
    text-transform: capitalize;
    font-weight: bold;
}

.ret{
    font-family:'Courier New', Courier, monospace
}

.showres{
    background-color:rgb(164, 233, 233);
}

#detailsModal{
    position: fixed;
    top: 20%;
    left: 65%;
    transform: translate(-80%, -35%);
    background-color: #10425a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(100, 15, 15, 0.1);
    border-radius: 8px;
    z-index: 1000;
}
#modalSubjectName{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#modalClassGrades{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}